<p>Items to Add </p>
<!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="">
        <label >Email Id</label>
        <input type="text" class="form-control" formControlName="email" />
    </div>
      <div class="">
        <label >Mobile Number</label>
        <input type="text" class="form-control" formControlName="mobileno" >
      </div>

      <div class="">
        <label >Enter Your Full Name</label>
        <input type="text" class="form-control" formControlName="fullname" >
      </div>

      <div class="">
        <label >Password</label>
        <input type="text" class="form-control" formControlName="password" >
      </div>

      <div class="">
        <label >Pincode</label>
        <input type="text" class="form-control" formControlName="pincode" >
      </div>

      <div class="">
        <label >Area</label>
        <input type="text" class="form-control" formControlName="area" >
      </div>
      
      <div class="">
        <label >Store Name :</label>
        <input type="text" class="form-control" formControlName="storeName">
      </div>


    <button type="submit" class="btn btn-success" >Submit</button>

    
</form> -->

<!-- <form (ngSubmit)="onSubmit()" form="ngForm" class="form-horizontal" >
    <input type = "text" name = "email"  ngModel required 
    placeholder = "email" >
    <br/>
    <input type = "password" name = "pwd" placeholder = "password" ngModel>
    <br/>
    <input type = "submit" value = "submit" 
    (ngSubmit) = "onClickSubmit(form.value)">
  </form> -->
<!-- <form>
  <div class="form-group">
    <label for="address">Address</label>
    <div class="search">
      <span class="fa fa-search"></span>
      <input type="text" class="form-control" name="address" id="address" 
      [(ngModel)]="model.address" required
      [typeaheadMinLength]="2" [typeahead]="states"
      placeholder="Search for address nearby.. " >
    </div>
  </div>
  <div class="form-group">
    <label for="state">State</label>
    <div class="search">
      <span class="fa fa-search"></span>
      <input type="search" class="form-control" name="state" id="state" 
      [(ngModel)]="model.state" 
      [typeaheadMinLength]="2" [typeahead]="states"
      placeholder="Search for states nearby.. " >
    </div>
  </div>
</form> -->

<h1> Welcome</h1>
