<app-header page="dashboard"></app-header>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col col-lg-auto">
            
                <h1 class="display-4">Adds on caraousel</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>

            <div class="col-md-4">
                <h3>Join us Now </h3>
                <form>

                    <div class="form-group mb-2">
                        <label for="mobileno" class="sr-only">Enter Your Mobile Number</label>
                        <input type="text" class="form-control" id="mobileno" placeholder="Enter your mobile number">
                    </div>
                    <button type="submit" class="btn btn-block btn-primary mb-2" (click)="login('signup')"
                    fragment="signup">Register Now</button>
                </form>
            </div>

        </div>
    </div>
</div>
