this page is to display List of items as per store category to order
in accordian way for each category with quantity
dynamic accordian addition
<label>Store Category</label>
<label>To show List of items to add in cart</label>

<label>Store Category</label>
<label>To show List of items to add in cart</label>

<label>Store Category</label>
<label>To show List of items to add in cart</label>

<li class="nav-item" [routerLinkActive]="['Active']">
    <a class="nav-link" [routerLink]="['/add']" href="#">Add new Store </a> 
  </li>